.form-wrapper{
    margin:auto;
    margin-top:200px;
    text-align: center;
    width: 40%;
    height: 70%;
    background-color: aquamarine;
    border-radius: 25px;
    border: 2px solid #73AD21;
}