
.margin-top-100{
    margin-top: 100px;
}
.form-wrapper{
    margin:auto;
    margin-top:200px;
    text-align: center;
    width: 40%;
    height: 350px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 25px;
    border: 2px solid ;
    position: relative;
    justify-content: center;
}

.price-panel{
    display: flex;
}

.left-text{
    flex:50%;
}

.right-text{
    flex:50%;
}

.swap-button{
    padding: 8px 12px;
    background: #EEEEEE;
    position: relative;
    top: 50px;
    line-height: 16px;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
}
.swap-button:hover{
    background: #f3f3f3;
    color: #000000;
}