.wrapper{
    border-radius: 15px;
    border: 1px solid #73AD21;
    padding: 5px;
    width: 80%;
    height: 35%;
    background-color:rgb(192, 231, 147);
    margin:auto;
    margin-top:5px;
    margin-bottom: 5px;

}