.wrapper{
    border-radius: 15px;
    border: 1px solid grey;
    padding: 5px;
    width: 80%;
    height: 35%;
    background-color:white;
    margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
}

.left{
    flex:50%;
    text-align: start;
}
.right{
    flex:50%;
    text-align: end;
    position: relative;
}

.upper-text{
    color:grey;
    font-size: 13px;
}
.amount{
    font-size:20px;
    font-weight: 500;
}
.token-name{
    font-size:20px;
    font-weight: 500;
}

/* drop down */
.select-container{
    /* padding: 12px 32px 12px 16px ; */
    width: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    right: 0px;
    position: absolute;
}

.down-arrow{
    position: absolute;
    right: 10px;
    pointer-events: none;
    padding-top: 10px;
}

.select-container select{
    padding: 10px 20px ;
    appearance: none;
    outline: none;
    border: none;
    color: -internal-light-dark(black, white);
    -webkit-rtl-ordering: logical;
    cursor: default;
    font: 400 13.3333px Arial;
    transition: box-shadow 0.3s ease-in-out;
    width: 100px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    background-color: whitesmoke;
    border-bottom: solid 1px black;
}
.select-container select .option{
    background: #F6F6F6;
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}


/* input */
.wrapper input{
    appearance: none;
    outline: none;
    border: none;
    font-size:20px;
    font-weight: 500;
    margin-bottom: 1em;
    width: 100px;
    height: 41px;

}