.title_container a:hover{
    text-decoration: none !important;

}

a:focus {
    outline: black solid 3px;
    box-shadow: none;
    color:green;
}

nav.top-nav {

    font-family: sans-serif;
    font-size:17px;
    z-index: 999;
    background-color: #ffffff;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    box-shadow: 0px 4px 4px #0003;
    padding-left:2em;
    height: 70px;
    
    padding: 2px 4px;
    display: flex;
    flex-direction: row;
    min-width: 800px;
    justify-content: center;
}

nav.top-nav ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

nav.top-nav li {
    color:black;
    margin: 7px;
    display: inline-block;
    padding:5px;
    user-select:none;
    position:relative;
}

nav.top-nav li a {
    color:black;
}
nav.top-nav li a:hover {
    color:#8CC4C6;
}
nav.top-nav li a:focus {
    color:#8CC4C6;
}

nav.top-nav li.activeMenu{
    color: grey;
    font-weight: bold;
}

.logo{
    display:block;
    height: 60px ;
    width: 60px;
}

div.title_container{
    width:auto;
    margin: 0px 40px;
}

.title_container h1{
    font-size: larger;
    color:#8CC4C6;
    
}
.title_container h2{
    font-size: 15px;
    color:#555555;
}
.title_container a{
    color:#555555;
    font-size: larger;
    color:#8CC4C6;
}

.menu_container{
    width:auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
}