/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
  }
   

  .custom-box {
    position: relative;
    width: 20%;
    margin: 0 auto;
    height: 20vh;
    max-height: 80vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: 200px;
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

  /* list of students */

  .students-container{
    height: 300px;
    overflow-y: scroll;
    border: solid #999 0.5px;

  }
  .list-container{
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(3,1fr);
    overflow-y: scroll;
    
  }

  /* display students */
  .display-student-container{
    height: 200px;
    padding: 20px 0;
  }

  /* footer */
  .footer-sparrow{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .footer a{
    text-decoration: none;
    padding: 20px 100px;
  }