.wallet{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    /* background-color:  rgb(12, 12, 49);
    color: white; */
    color: #000;
}
.wallet h1,h2{
    color: black;
}

.cards-wrapper{
    height: 200px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.EBT-card{
    background-color: rgb(40, 40, 228);
    border-radius: 25px;
    width: 350px;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(176, 176, 186, 0.5);
    padding:10px 25px;
    display: flex;
    flex-direction: column;
    color:white;
}

.EBT-card .top{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

}
.EBT-card .balance{
    line-height: 30px;
    font-size: 30px;
    font-weight: 800px;
    padding: 20px 0px;
}
.EBT-card .expiration{
    margin-left: 180px;
    
}
.EBT-card .card-number{
    font-family: "Credit";
    font-weight: 100;
    padding-top: 20px;
}


.scroll-wrapper{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    height: 100px;
    width:400px;
  
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
  }

.image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    margin: 10px 20px;
}
.image-wrapper img{
    border-radius: 50%;
    height: 50px;
    width: 50px;

}
.list-wrapper{
    height: 400px;
    overflow-y: scroll;
}